project_web/web/xml_code/groups.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="grupos">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element name="grupo" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType mixed="true">
                        <xs:all>
                            <xs:element name="turno_gpo" type="xs:string"/>
                            <xs:element name="nombre_gpo" type="xs:string"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
